In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix

In [2]:
import numpy as np 
import pandas as pd 
# Read the CSV file, providing the correct file path
file_path = "training.1600000.processed.noemoticon.csv"
df = pd.read_csv(file_path, encoding="ISO-8859-15", names=['Target', 'ID', 'Date', 'Flag', 'User', 'Text'])

# Display the first few rows of the dataframe
df.head()

,Target,ID,Date,Flag,User,Text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [3]:
targets = df['Target'].unique()
print("Target values:\n"+str(targets))
print("\nTarget counts:\n"+str(df['Target'].value_counts()))
print("\nCount of null values per column:\n"+str(df.isnull().sum()))

Target values:
[0 4]

Target counts:
Target
0    800000
4    800000
Name: count, dtype: int64

Count of null values per column:
Target    0
ID        0
Date      0
Flag      0
User      0
Text      0
dtype: int64

In [4]:
X = df['Text'].values
Y = df['Target'].values

In [5]:
X

array(["@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D",
       "is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!",
       '@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds',
       ..., 'Are you ready for your MoJo Makeover? Ask me for details ',
       'Happy 38th Birthday to my boo of alll time!!! Tupac Amaru Shakur ',
       'happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H '],
      dtype=object)

In [6]:
Y

array([0, 0, 0, ..., 4, 4, 4], dtype=int64)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state=32)

In [8]:
print(x_train[5])

@kgasso Jeez...  Not that it would have made it easier either way...

In [9]:
NB = make_pipeline(CountVectorizer(), MultinomialNB())
NB.fit(x_train, y_train)
score = NB.score(x_test, y_test)
print(score)

0.780703125

In [10]:
unique = df['Target'].unique()
y_pred = NB.predict(x_test)
cm = confusion_matrix(y_test, y_pred, labels = unique)

df_cm = pd.DataFrame(cm, index=unique, columns=unique)
df_cm

        0       4
0  131110   29211
4   40964  118715

In [11]:
vect = CountVectorizer()
vect.fit(x_train)

X_train = vect.transform(x_train)
X_test = vect.transform(x_test)

classifier = MultinomialNB()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)
print(score)

unique = df['Target'].unique()
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred, labels = unique)

df_cm = pd.DataFrame(cm, index=unique, columns=unique)
df_cm

0.780703125

        0       4
0  131110   29211
4   40964  118715

In [12]:
NB = make_pipeline(TfidfVectorizer(), MultinomialNB())
NB.fit(x_train, y_train)
score = NB.score(x_test, y_test)
print(score)

0.773678125

In [14]:
unique = df['Target'].unique()
y_pred = NB.predict(x_test)
cm = confusion_matrix(y_test, y_pred, labels = unique)

df_cm = pd.DataFrame(cm, index=unique, columns=unique)
df_cm

        0       4
0  131229   29092
4   43331  116348